/* #app { height: 100% } */
.swiper {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .swiper {
        margin-left: auto;
        margin-right: auto;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

.swiper-pagination-bullet-active {
    background: #F91A9F !important;
    border: 1px solid white !important;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 35px !important;
}

.swipers>h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: #FCF7FD;
    margin: 40px;
}

@media screen and (max-width: 768px) {
    .swipers>h3 {
        font-size: 42px;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .swiper-slide {
        width: 100% !important;
    }
}
