@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.logo {
    position: relative;
    margin: 0px 20px 20px 0px;
}

.white-logo {
    position: absolute;
    width: 33.55px;
    height: 28px;
    left: 0px;
    top: 0px;
    background: #FCF7FD;
}

.pink-logo {
    position: absolute;
    width: 33.55px;
    height: 28px;
    left: 11.45px;
    top: 14px;
    background: #F91A9F;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 20px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 31px; */
    color: #FCF7FD;
}

.navbar a {
    text-decoration: none;
    color: #FCF7FD;
}



.brand-name h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FCF7FD;
}

.btn-buynow {
    padding: 15px 20px;
    /* gap: 10px; */
    width: 140px;
    /* height: 61px; */
    background: #F1D8F3;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    /* line-height: 31px; */
    color: #49184E;
    border: none;
    cursor: pointer;
}

form{
    position: relative;
}

#search-text-input{
    position: relative;
    width: 300px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(245, 242, 242, 0.897) 0%, rgba(255, 255, 255, 0.572) 100%);
    box-shadow: 0px 4px 24px -1px rgba(232, 215, 235, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    border: none;
}

input[type="text"] {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FCF7FD;
    padding-left: 15px;
    outline: none;
}

input[type="text"]::placeholder {
    position: absolute;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FCF7FD;
    left: 28px;
    top: 9px;
}
   
 .search{
    position: absolute;
    
    /* z-index: -2; */
    top: 12px;
    right: 15px;
    text-align: center;
    /* pointer-events: none; */
}